.site-header {
    background-color: #f5f5f5;  
    color: $black;
    a {
        color: $black;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        padding: 0 16px;
        @include media-breakpoint-up(lg) {
            max-width: 1140px;
            margin: 0 auto; 
        }
    }
    .hamburger {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
}

.site-logo {
    margin: 0;
    font-size: 1rem;
    &__link {
        display: block;
        height: 50px;
        > img {
            margin-right: 16px;
        }
    }
}

.nav-main {
    display: block;
    @include media-breakpoint-down(md) {
        display: none;
    }
    > ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        li {
            list-style-type: none;
        }
        > li {
            margin-left: 16px;
        }
    }
}